.version.honoo___luna /* version checker */
{
	color: #0000F7;
	background-color: #06915F;
}

#page
{
	filter: alpha(opacity=100);
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background-image: none;
	opacity: 1;
	margin-left: auto;
	border-width: 0px;
	background-color: transparent;
	border-color: #000000;
	margin-right: auto;
}

#u18981
{
	width: 31px;
	z-index: 35;
	position: relative;
	margin-right: -10000px;
}

#u18982
{
	z-index: 36;
}

#u16822
{
	min-height: 60px;
	width: 60px;
	border-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	background-color: transparent;
	z-index: 5;
	position: relative;
}

#slideshowu17029
{
	width: 0.01px;
	z-index: 11;
	position: relative;
}

#u17046popup
{
	z-index: 12;
}

#u18558
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 13;
	position: relative;
	margin-right: -10000px;
}

#u18675
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 15;
	position: relative;
	margin-right: -10000px;
}

#u18200
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 17;
	position: relative;
	margin-right: -10000px;
}

#u17046,#u17030
{
	background-color: transparent;
	position: absolute;
}

#u17030popup
{
	z-index: 19;
}

#u18618-4
{
	z-index: 20;
	position: relative;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
}

#u18743-4
{
	z-index: 24;
	position: relative;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
}

#u18260-4
{
	z-index: 28;
	position: relative;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
}

#u17043-3
{
	border-color: transparent;
	text-align: center;
	padding: 10px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	border-width: 0px;
	color: #000000;
	position: absolute;
}

#u17043-3popup
{
	z-index: 32;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u16820
{
	background-color: #5F5F5F;
	z-index: 2;
	position: fixed;
}

.Footer2,.Footer1
{
	background-color: transparent;
	border-color: #000000;
	border-width: 0px;
}

#u16820-bw
{
	z-index: 2;
}

#u16799
{
	background-color: #A7A6A6;
	z-index: 3;
	position: fixed;
}

#u16799-bw
{
	z-index: 3;
}

#u16793
{
	height: 40px;
	left: 50%;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.5s;
	background-color: #000000;
	transition-delay: 0.2s;
	background-image: url("../images/blank.gif");
	z-index: 6;
	width: 40px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	border-radius: 100px;
	-webkit-transition-delay: 0.2s;
	position: fixed;
}

#u16793:hover
{
	margin-bottom: 0px;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.3s;
	background-color: #5F5F5F;
	transition-delay: 0.1s;
	height: 40px;
	margin-top: 0px;
	min-height: 0px;
	width: 40px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.1s;
	margin-right: 0px;
}

#u16796-4
{
	left: 50%;
	vertical-align: top;
	z-index: 7;
	position: fixed;
	display: block;
}

#u16816
{
	height: 36px;
	z-index: 4;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0px;
}

.Footer3
{
	background-color: #5F5F5F;
	border-color: #000000;
	border-width: 0px;
}

#u16816-bw
{
	z-index: 4;
}

.html
{
	background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
}

body
{
	position: relative;
}

@media (min-width: 1601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1600px;
		min-height: 892px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -160px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 806px;
		margin-left: -160px;
	}

	#u16820
	{
		height: 86px;
		bottom: 0px;
	}

	#u16799
	{
		height: 61px;
		bottom: 0px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 543px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16796-4
	{
		bottom: 22px;
		margin-left: -37px;
	}

	#u16793
	{
		bottom: 12px;
		margin-left: -30px;
	}

	#u16793:hover
	{
		margin-left: -30px;
	}

	body
	{
		min-width: 1600px;
	}
}

@media (min-width: 1441px) and (max-width: 1600px)
{
	#muse_css_mq
	{
		background-color: #000640;
	}

	#bp_1600.active
	{
		display: block;
	}

	#page
	{
		width: 1440px;
		min-height: 780px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -80px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 694px;
		margin-left: -80px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 545px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 491px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 459px;
		height: 459px;
	}

	#u17030
	{
		width: 459px;
		top: 459px;
	}

	#u17043-3
	{
		width: 441px;
		min-height: 440px;
		left: 135px;
	}

	#u16796-4
	{
		bottom: 25px;
		margin-left: -27px;
	}

	#u16793
	{
		bottom: 15px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	body
	{
		min-width: 1440px;
	}
}

@media (min-width: 1201px) and (max-width: 1440px)
{
	#muse_css_mq
	{
		background-color: #0005a0;
	}

	#bp_1440.active
	{
		display: block;
	}

	#page
	{
		width: 1200px;
		min-height: 712px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -120px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 626px;
		margin-left: -120px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 453px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 410px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 380px;
		height: 380px;
	}

	#u17030
	{
		width: 380px;
		top: 380px;
	}

	#u17043-3
	{
		width: 360px;
		min-height: 359px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	body
	{
		min-width: 1200px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px)
{
	#muse_css_mq
	{
		background-color: #0004b0;
	}

	#bp_1200.active
	{
		display: block;
	}

	#page
	{
		width: 1024px;
		min-height: 832px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -107px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 746px;
		margin-left: -88px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 17px;
	}

	#slideshowu17029
	{
		height: 592px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 262px;
	}

	#u17046
	{
		width: 498px;
		height: 498px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 498px;
		height: 498px;
	}

	#u17030
	{
		width: 499px;
		top: 498px;
	}

	#u17043-3
	{
		width: 479px;
		min-height: 478px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	body
	{
		min-width: 1024px;
	}
}

@media (min-width: 993px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		width: 992px;
		min-height: 670px;
		padding-bottom: 158px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -104px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 240px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	body
	{
		min-width: 992px;
	}
}

@media (min-width: 769px) and (max-width: 992px)
{
	#muse_css_mq
	{
		background-color: #0003e0;
	}

	#bp_992.active
	{
		display: block;
	}

	#page
	{
		width: 768px;
		min-height: 847px;
	}

	#page_position_content
	{
		padding-top: 62px;
		padding-bottom: 177px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -112px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-right: -10000px;
		left: 239px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16822
	{
		left: 395px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	body
	{
		min-width: 768px;
	}
}

@media (min-width: 577px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		width: 576px;
		min-height: 881.987px;
		padding-bottom: 0px;
	}

	#page_position_content
	{
		padding-top: 62px;
		padding-bottom: 152px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -96px;
	}

	#u16822
	{
		left: 379px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-left: 32px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	body
	{
		min-width: 576px;
	}
}

@media (min-width: 481px) and (max-width: 576px)
{
	#muse_css_mq
	{
		background-color: #000240;
	}

	#bp_576.active
	{
		display: block;
	}

	#page
	{
		width: 480px;
		min-height: 818px;
	}

	#page_position_content
	{
		padding-top: 62px;
		padding-bottom: 274px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -48px;
	}

	#u16822
	{
		left: 331px;
	}

	#slideshowu17029
	{
		height: 422px;
		margin-left: 62px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 355px;
		height: 355px;
	}

	#u17030
	{
		width: 355px;
		top: 355px;
	}

	#u17043-3
	{
		width: 335px;
		min-height: 334px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	body
	{
		min-width: 480px;
	}
}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
		min-height: 654px;
	}

	#page_position_content
	{
		padding-top: 62px;
		padding-bottom: 213px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -80px;
	}

	#u16822
	{
		left: 142px;
	}

	#slideshowu17029
	{
		height: 319px;
		margin-left: 37px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 246px;
		height: 246px;
	}

	#u17030
	{
		width: 247px;
		top: 246px;
	}

	#u17043-3
	{
		width: 227px;
		min-height: 225px;
	}

	#u16820
	{
		height: 25px;
		bottom: 61px;
	}

	#u16799
	{
		height: 25px;
		bottom: 36px;
	}

	#u16793
	{
		bottom: 16px;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
	}

	#u16796-4
	{
		bottom: 26px;
		margin-left: -27px;
	}

	body
	{
		min-width: 320px;
	}
}

