.version.honoo___luna /* version checker */
{
	color: #0000FE;
	background-color: #B9AB77;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	filter: alpha(opacity=100);
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background-image: none;
	opacity: 1;
	margin-left: auto;
	border-width: 0px;
	background-color: transparent;
	border-color: #000000;
	margin-right: auto;
}

#u18981
{
	width: 31px;
	z-index: 35;
	position: relative;
	margin-right: -10000px;
}

#u18982
{
	z-index: 36;
}

#slideshowu17029
{
	width: 0.01px;
	margin-right: -10000px;
	z-index: 11;
	position: relative;
}

#u17046popup
{
	z-index: 12;
}

#u18558
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 13;
	position: relative;
	margin-right: -10000px;
}

#u18675
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 15;
	position: relative;
	margin-right: -10000px;
}

#u18200
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 17;
	position: relative;
	margin-right: -10000px;
}

#u17046,#u17030
{
	background-color: transparent;
	position: absolute;
}

#u17030popup
{
	z-index: 19;
}

#u18618-4
{
	z-index: 20;
	position: relative;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
}

#u18743-4
{
	vertical-align: top;
	z-index: 24;
	position: relative;
	display: block;
	margin-right: -10000px;
}

#u18260-4
{
	vertical-align: top;
	z-index: 28;
	position: relative;
	display: block;
	margin-right: -10000px;
}

#u17043-3
{
	border-color: transparent;
	text-align: center;
	padding: 10px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	border-width: 0px;
	color: #000000;
	position: absolute;
}

#u17043-3popup
{
	z-index: 32;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u16822
{
	min-height: 60px;
	width: 60px;
	border-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	background-color: transparent;
	z-index: 5;
	position: relative;
}

#u16820
{
	background-color: #5F5F5F;
	z-index: 2;
}

.Footer2,.Footer1
{
	background-color: transparent;
	border-color: #000000;
	border-width: 0px;
}

#u16820-bw
{
	z-index: 2;
}

#u16799
{
	background-color: #A7A6A6;
	z-index: 3;
}

#u16799-bw
{
	z-index: 3;
}

#u16816
{
	height: 36px;
	z-index: 4;
	background-color: #FFFFFF;
}

.Footer3
{
	background-color: #5F5F5F;
	border-color: #000000;
	border-width: 0px;
}

#u16816-bw
{
	z-index: 4;
}

#u16793
{
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.5s;
	background-color: #000000;
	transition-delay: 0.2s;
	background-image: url("../images/blank.gif");
	z-index: 6;
	width: 40px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	border-radius: 100px;
	-webkit-transition-delay: 0.2s;
}

#u16793:hover
{
	margin-bottom: 0px;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.3s;
	background-color: #5F5F5F;
	transition-delay: 0.1s;
	min-height: 0px;
	width: 40px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.1s;
}

#u16796-4
{
	vertical-align: top;
	z-index: 7;
	display: block;
}

.html
{
	background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
}

body
{
	position: relative;
}

@media (min-width: 1601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1600px;
		min-height: 599px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -160px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin: 803px -10000px -219px -160px;
	}

	#u16820
	{
		height: 86px;
		position: fixed;
		bottom: -219px;
	}

	#u16799
	{
		height: 61px;
		position: fixed;
		bottom: -219px;
	}

	#u16816
	{
		position: fixed;
		bottom: -219px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-top: 62px;
		left: 543px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -197px;
		left: 50%;
		margin-left: -37px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -207px;
		left: 50%;
		margin-left: -30px;
	}

	#u16793:hover
	{
		margin-left: -30px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	body
	{
		min-width: 1600px;
	}
}

@media (min-width: 1441px) and (max-width: 1600px)
{
	#muse_css_mq
	{
		background-color: #000640;
	}

	#bp_1600.active
	{
		display: block;
	}

	#page
	{
		width: 1440px;
		min-height: 599px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -80px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin: 759px -10000px -238px -80px;
	}

	#u16820
	{
		height: 25px;
		position: fixed;
		bottom: -177px;
	}

	#u16799
	{
		height: 25px;
		position: fixed;
		bottom: -202px;
	}

	#u16816
	{
		position: fixed;
		bottom: -238px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 545px;
		margin-top: 62px;
		left: 491px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 459px;
		height: 459px;
	}

	#u17030
	{
		width: 459px;
		top: 459px;
	}

	#u17043-3
	{
		width: 441px;
		min-height: 440px;
		left: 135px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -213px;
		left: 50%;
		margin-left: -27px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -223px;
		left: 50%;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	body
	{
		min-width: 1440px;
	}
}

@media (min-width: 1201px) and (max-width: 1440px)
{
	#muse_css_mq
	{
		background-color: #0005a0;
	}

	#bp_1440.active
	{
		display: block;
	}

	#page
	{
		width: 1200px;
		min-height: 599px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -120px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin: 716px -10000px -203px -120px;
	}

	#u16820
	{
		height: 25px;
		position: fixed;
		bottom: -142px;
	}

	#u16799
	{
		height: 25px;
		position: fixed;
		bottom: -167px;
	}

	#u16816
	{
		position: fixed;
		bottom: -203px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 453px;
		margin-top: 62px;
		left: 410px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 380px;
		height: 380px;
	}

	#u17030
	{
		width: 380px;
		top: 380px;
	}

	#u17043-3
	{
		width: 360px;
		min-height: 359px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -177px;
		left: 50%;
		margin-left: -27px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -187px;
		left: 50%;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	body
	{
		min-width: 1200px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px)
{
	#muse_css_mq
	{
		background-color: #0004b0;
	}

	#bp_1200.active
	{
		display: block;
	}

	#page
	{
		width: 1024px;
		min-height: 599px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -107px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin: 726px -10000px -159px -88px;
	}

	#u16820
	{
		height: 25px;
		position: fixed;
		bottom: -97px;
	}

	#u16799
	{
		height: 25px;
		position: fixed;
		bottom: -122px;
	}

	#u16816
	{
		position: fixed;
		bottom: -158px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 17px;
	}

	#slideshowu17029
	{
		height: 592px;
		margin-top: 62px;
		left: 262px;
	}

	#u17046
	{
		width: 498px;
		height: 498px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 498px;
		height: 498px;
	}

	#u17030
	{
		width: 499px;
		top: 498px;
	}

	#u17043-3
	{
		width: 479px;
		min-height: 478px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -132px;
		left: 50%;
		margin-left: -27px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -142px;
		left: 50%;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	body
	{
		min-width: 1024px;
	}
}

@media (min-width: 993px) and (max-width: 1024px)
{
	#muse_css_mq
	{
		background-color: #000400;
	}

	#bp_1024.active
	{
		display: block;
	}

	#page
	{
		width: 992px;
		min-height: 599px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -104px;
	}

	#u16820
	{
		height: 25px;
		position: fixed;
		bottom: -80px;
	}

	#u16799
	{
		height: 25px;
		position: fixed;
		bottom: -105px;
	}

	#u16816
	{
		position: fixed;
		bottom: -141px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-top: 62px;
		left: 240px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -115px;
		left: 50%;
		margin-left: -27px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -125px;
		left: 50%;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	body
	{
		min-width: 992px;
	}
}

@media (min-width: 769px) and (max-width: 992px)
{
	#muse_css_mq
	{
		background-color: #0003e0;
	}

	#bp_992.active
	{
		display: block;
	}

	#page
	{
		width: 768px;
		min-height: 500px;
	}

	#page_position_content
	{
		padding-top: 62px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -112px;
	}

	#slideshowu17029
	{
		height: 608px;
		left: 239px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16822
	{
		left: 395px;
	}

	#u16820
	{
		height: 25px;
		position: fixed;
		bottom: -134px;
	}

	#u16799
	{
		height: 25px;
		position: fixed;
		bottom: -159px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -179px;
		left: 50%;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -169px;
		left: 50%;
		margin-left: -27px;
	}

	#u16816
	{
		position: fixed;
		bottom: -195px;
	}

	body
	{
		min-width: 768px;
	}
}

@media (min-width: 577px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		width: 576px;
		min-height: 500px;
	}

	#page_position_content
	{
		padding-top: 62px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -96px;
	}

	#slideshowu17029
	{
		height: 608px;
		left: 127px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16822
	{
		left: 379px;
	}

	#u16820
	{
		height: 25px;
		position: fixed;
		bottom: -124px;
	}

	#u16799
	{
		height: 25px;
		position: fixed;
		bottom: -149px;
	}

	#u16793
	{
		height: 40px;
		position: fixed;
		bottom: -169px;
		left: 50%;
		margin-left: -20px;
	}

	#u16793:hover
	{
		margin-left: -20px;
		margin-right: 0px;
		margin-top: 0px;
		height: 40px;
	}

	#u16796-4
	{
		position: fixed;
		bottom: -159px;
		left: 50%;
		margin-left: -27px;
	}

	#u16816
	{
		position: fixed;
		bottom: -185px;
	}

	body
	{
		min-width: 576px;
	}
}

@media (min-width: 481px) and (max-width: 576px)
{
	#muse_css_mq
	{
		background-color: #000240;
	}

	#bp_576.active
	{
		display: block;
	}

	#page
	{
		width: 480px;
		min-height: 499.89999999999986px;
		padding-bottom: 0px;
	}

	#page_position_content
	{
		padding-top: 62px;
		width: 0.01px;/* should not cover content below */
	}

	#slideshowu17029
	{
		height: 568px;
		left: 48px;
	}

	#u17046
	{
		width: 477px;
		height: 477px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 477px;
		height: 477px;
	}

	#u17030
	{
		width: 480px;
		top: 478px;
	}

	#u17043-3
	{
		width: 459px;
		min-height: 458px;
	}

	#u16822
	{
		left: 331px;
	}

	#u16820-bw
	{
		margin-top: 637px;
		height: 25px;
	}

	#pu18981,#pu16799
	{
		width: 0.01px;
		margin-left: -48px;
	}

	#u16820,#u16799,#u16799-bw
	{
		height: 25px;
	}

	#u16816-bw
	{
		margin-top: 25px;
		height: 36px;
	}

	#u16793
	{
		padding-bottom: 10px;
		position: relative;
		margin-right: -10000px;
		margin-top: 5px;
		left: 268px;
	}

	#u16793:hover
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 5px;
	}

	#u16796-4
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 8px;
		left: -7px;
	}

	body
	{
		min-width: 480px;
	}
}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
		min-height: 1250px;
	}

	#page_position_content
	{
		padding-top: 62px;
		width: 0.01px;/* should not cover content below */
	}

	#pu18981
	{
		width: 0.01px;
		margin-left: -80px;
	}

	#slideshowu17029
	{
		height: 386px;
		left: 79px;
	}

	#u17046,#u18558,#u18675,#u18200
	{
		width: 321px;
		height: 321px;
	}

	#u17030
	{
		width: 320px;
		top: 319px;
		left: 1px;
	}

	#u18743-4,#u18260-4
	{
		margin-bottom: -14px;
	}

	#u17043-3
	{
		width: 300px;
		min-height: 299px;
		left: 1px;
	}

	#u16822
	{
		left: 133px;
	}

	#u16820-bw
	{
		margin-top: 528px;
		height: 25px;
	}

	#pu16799
	{
		width: 0.01px;
		margin-left: -80px;
		margin-top: 229px;
	}

	#u16820,#u16799,#u16799-bw
	{
		height: 25px;
	}

	#u16816-bw
	{
		margin-top: 25px;
		height: 36px;
	}

	#u16793
	{
		padding-bottom: 10px;
		position: relative;
		margin-right: -10000px;
		margin-top: 5px;
		left: 220px;
	}

	#u16793:hover
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 5px;
	}

	#u16796-4
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 8px;
		left: -7px;
	}

	body
	{
		min-width: 320px;
	}
}

