.version.index /* version checker */
{
	color: #0000F6;
	background-color: #6E9494;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@media (min-width: 1601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 1600px;
		min-height: 599px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		padding-top: 58px;
		width: 0.01px;/* should not cover content below */
	}

	#pu12838
	{
		width: 0.01px;
		padding-bottom: 152px;
	}

	#u12838
	{
		z-index: 5;
		width: 243px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -800px;
	}

	#u7211
	{
		z-index: 9;
		width: 35px;
		height: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -800px;
		background: transparent url("../images/flagsartboard%201.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -730px;
		background: transparent url("../images/flagsartboard%202.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -730px;
		background: transparent url("../images/flagsartboard%202-eng.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -661px;
		background: transparent url("../images/flagsartboard%203.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -661px;
		background: transparent url("../images/flagsartboard%203-esp%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -591px;
		background: transparent url("../images/flagsartboard%204.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -591px;
		background: transparent url("../images/flagsartboard%204-chi%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202_2x.png");
	}

	#u11250
	{
		z-index: 10;
		width: 105px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 641px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	#u1201
	{
		z-index: 12;
		width: 100px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -50px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 100px;
		min-height: 0px;
		margin: 0px 0px 0px -50px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		left: -31px;
		top: -12px;
		margin-bottom: -12px;
		position: relative;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#pu5644
	{
		width: 0.01px;
		margin-left: -160px;
		margin-top: 255px;
	}

	#u5644,#u5644-bw
	{
		z-index: 2;
		height: 86px;
	}

	#u5188
	{
		z-index: 3;
		height: 61px;
	}

	#u5188-bw
	{
		z-index: 3;
		margin-top: 25px;
		height: 61px;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
	}

	#u5178-bw
	{
		z-index: 4;
		margin-top: 50px;
		height: 36px;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 1600px;
	}
}

@media (min-width: 1441px) and (max-width: 1600px)
{
	#muse_css_mq
	{
		background-color: #000640;
	}

	#bp_1600.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 1440px;
		min-height: 599px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		padding-top: 58px;
		padding-bottom: 341px;
		width: 0.01px;/* should not cover content below */
	}

	#pu12838
	{
		width: 0.01px;
		padding-bottom: 152px;
	}

	#u12838
	{
		z-index: 5;
		width: 243px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -720px;
	}

	#u7211
	{
		z-index: 9;
		width: 35px;
		height: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -720px;
		background: transparent url("../images/flagsartboard%201.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -650px;
		background: transparent url("../images/flagsartboard%202.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -650px;
		background: transparent url("../images/flagsartboard%202-eng.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -581px;
		background: transparent url("../images/flagsartboard%203.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -581px;
		background: transparent url("../images/flagsartboard%203-esp%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -511px;
		background: transparent url("../images/flagsartboard%204.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -511px;
		background: transparent url("../images/flagsartboard%204-chi%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202_2x.png");
	}

	#u11250
	{
		z-index: 10;
		width: 105px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 568px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	#u1201
	{
		z-index: 12;
		width: 100px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -50px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 100px;
		min-height: 0px;
		margin: 0px 0px 0px -50px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		left: -31px;
		top: -12px;
		margin-bottom: -12px;
		position: relative;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 1440px;
	}
}

@media (min-width: 1201px) and (max-width: 1440px)
{
	#muse_css_mq
	{
		background-color: #0005a0;
	}

	#bp_1440.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 1200px;
		min-height: 599px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		padding-top: 58px;
		padding-bottom: 341px;
		width: 0.01px;/* should not cover content below */
	}

	#pu12838
	{
		width: 0.01px;
		padding-bottom: 152px;
	}

	#u12838
	{
		z-index: 5;
		width: 243px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -600px;
	}

	#u7211
	{
		z-index: 9;
		width: 35px;
		height: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -600px;
		background: transparent url("../images/flagsartboard%201.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -530px;
		background: transparent url("../images/flagsartboard%202.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -530px;
		background: transparent url("../images/flagsartboard%202-eng.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -461px;
		background: transparent url("../images/flagsartboard%203.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -461px;
		background: transparent url("../images/flagsartboard%203-esp%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -391px;
		background: transparent url("../images/flagsartboard%204.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -391px;
		background: transparent url("../images/flagsartboard%204-chi%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202_2x.png");
	}

	#u11250
	{
		z-index: 10;
		width: 105px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 458px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	#u1201
	{
		z-index: 12;
		width: 100px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -50px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 100px;
		min-height: 0px;
		margin: 0px 0px 0px -50px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		left: -31px;
		top: -12px;
		margin-bottom: -12px;
		position: relative;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 1200px;
	}
}

@media (min-width: 993px) and (max-width: 1200px)
{
	#muse_css_mq
	{
		background-color: #0004b0;
	}

	#bp_1200.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 992px;
		min-height: 599px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		padding-top: 58px;
		padding-bottom: 341px;
		width: 0.01px;/* should not cover content below */
	}

	#pu12838
	{
		width: 0.01px;
		padding-bottom: 152px;
	}

	#u12838
	{
		z-index: 5;
		width: 243px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -496px;
	}

	#u7211
	{
		z-index: 9;
		width: 35px;
		height: 35px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -496px;
		background: transparent url("../images/flagsartboard%201.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -426px;
		background: transparent url("../images/flagsartboard%202.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -426px;
		background: transparent url("../images/flagsartboard%202-eng.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -357px;
		background: transparent url("../images/flagsartboard%203.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -357px;
		background: transparent url("../images/flagsartboard%203-esp%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 35px;
		height: 35px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -287px;
		background: transparent url("../images/flagsartboard%204.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 35px;
		height: 35px;
		min-height: 0px;
		margin: 0px 0px 0px -287px;
		background: transparent url("../images/flagsartboard%204-chi%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202_2x.png");
	}

	#u11250
	{
		z-index: 10;
		width: 105px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 356px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	#u1201
	{
		z-index: 12;
		width: 100px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -50px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 100px;
		min-height: 0px;
		margin: 0px 0px 0px -50px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		left: -31px;
		top: -12px;
		margin-bottom: -12px;
		position: relative;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 992px;
	}
}

@media (min-width: 769px) and (max-width: 992px)
{
	#muse_css_mq
	{
		background-color: #0003e0;
	}

	#bp_992.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 768px;
		min-height: 500px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		padding-top: 58px;
		padding-bottom: 242px;
		width: 0.01px;/* should not cover content below */
	}

	#pu12838
	{
		width: 0.01px;
		padding-bottom: 152px;
	}

	#u12838
	{
		z-index: 5;
		width: 211px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 30px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -384px;
	}

	#u7211
	{
		z-index: 9;
		width: 30px;
		height: 30px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -384px;
		background: transparent url("../images/flagsartboard%201.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 30px;
		height: 30px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -324px;
		background: transparent url("../images/flagsartboard%202.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 30px;
		height: 30px;
		min-height: 0px;
		margin: 0px 0px 0px -324px;
		background: transparent url("../images/flagsartboard%202-eng.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 30px;
		height: 30px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -264px;
		background: transparent url("../images/flagsartboard%203.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 30px;
		height: 30px;
		min-height: 0px;
		margin: 0px 0px 0px -264px;
		background: transparent url("../images/flagsartboard%203-esp%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 30px;
		height: 30px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -203px;
		background: transparent url("../images/flagsartboard%204.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 30px;
		height: 30px;
		min-height: 0px;
		margin: 0px 0px 0px -203px;
		background: transparent url("../images/flagsartboard%204-chi%20copy%202.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202_2x.png");
	}

	#u11250
	{
		z-index: 10;
		width: 105px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 256px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	#u1201
	{
		z-index: 12;
		width: 100px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -50px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 100px;
		min-height: 0px;
		margin: 0px 0px 0px -50px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		left: -31px;
		top: -12px;
		margin-bottom: -12px;
		position: relative;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 768px;
	}
}

@media (min-width: 577px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 576px;
		min-height: 500px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#pu5644
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 414px;
		margin-left: -96px;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 198px;
		left: -31px;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u12838
	{
		z-index: 5;
		width: 183px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 26px;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -92px;
	}

	#u7211
	{
		z-index: 9;
		width: 26px;
		height: 26px;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -92px;
		background: transparent url("../images/flagsartboard%201-u7211-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201-u7211-fr_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -40px;
		background: transparent url("../images/flagsartboard%202-u1654-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px -40px;
		background: transparent url("../images/flagsartboard%202-u1654-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202-u1654-fr_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-u1654-r-fr_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: 13px;
		background: transparent url("../images/flagsartboard%203-u1691-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px 13px;
		background: transparent url("../images/flagsartboard%203-u1691-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203-u1691-fr_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-u1691-r-fr_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: 65px;
		background: transparent url("../images/flagsartboard%204-u1720-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px 65px;
		background: transparent url("../images/flagsartboard%204-u1720-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204-u1720-fr_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-u1720-r-fr_2x.png");
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u1201
	{
		z-index: 12;
		width: 90px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -45px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 90px;
		min-height: 0px;
		margin: 0px 0px 0px -45px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u11250
	{
		z-index: 10;
		width: 90px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 183px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 576px;
	}
}

@media (min-width: 481px) and (max-width: 576px)
{
	#muse_css_mq
	{
		background-color: #000240;
	}

	#bp_576.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 480px;
		min-height: 500px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		padding-bottom: 220px;
		margin-left: auto;
		margin-right: auto;
	}

	#pu5644
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 414px;
		margin-left: -48px;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 198px;
		left: -31px;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u12838
	{
		z-index: 5;
		width: 195px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 26px;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -97px;
	}

	#u7211
	{
		z-index: 9;
		width: 26px;
		height: 26px;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -97px;
		background: transparent url("../images/flagsartboard%201-u7211-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201-u7211-fr_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -41px;
		background: transparent url("../images/flagsartboard%202-u1654-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px -41px;
		background: transparent url("../images/flagsartboard%202-u1654-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202-u1654-fr_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-u1654-r-fr_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: 15px;
		background: transparent url("../images/flagsartboard%203-u1691-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px 15px;
		background: transparent url("../images/flagsartboard%203-u1691-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203-u1691-fr_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-u1691-r-fr_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: 71px;
		background: transparent url("../images/flagsartboard%204-u1720-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px 71px;
		background: transparent url("../images/flagsartboard%204-u1720-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204-u1720-fr_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-u1720-r-fr_2x.png");
	}

	#u7708
	{
		z-index: 30;
		width: 150px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -75px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u1201
	{
		z-index: 12;
		width: 90px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -45px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 90px;
		min-height: 0px;
		margin: 0px 0px 0px -45px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u11250
	{
		z-index: 10;
		width: 80px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 149px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 480px;
	}
}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		width: 320px;
		min-height: 576px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		margin-left: auto;
		margin-right: auto;
	}

	#pu5644
	{
		width: 0.01px;
		padding-bottom: 278px;
		margin-right: -10000px;
		margin-top: 298px;
		margin-left: -80px;
	}

	#u5644
	{
		z-index: 2;
		height: 25px;
		position: fixed;
		bottom: 61px;
	}

	#u5644-bw
	{
		z-index: 2;
	}

	#u5188
	{
		z-index: 3;
		height: 25px;
		position: fixed;
		bottom: 36px;
	}

	#u5188-bw
	{
		z-index: 3;
	}

	#u5178
	{
		z-index: 4;
		height: 36px;
		position: fixed;
		bottom: 0px;
	}

	#u5178-bw
	{
		z-index: 4;
	}

	#u1203-16
	{
		z-index: 14;
		display: block;
		vertical-align: top;
		position: fixed;
		top: 298px;
		left: 50%;
		margin-left: -191px;
	}

	#u8876
	{
		z-index: 32;
		width: 60px;
		min-height: 60px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 274px;
		left: -31px;
	}

	#u12838
	{
		z-index: 5;
		width: 195px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		padding-bottom: 26px;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -97px;
	}

	#u7211
	{
		z-index: 9;
		width: 26px;
		height: 26px;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -97px;
		background: transparent url("../images/flagsartboard%201-u7211-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201-u7211-fr_2x.png");
	}

	#u1654
	{
		z-index: 6;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: -41px;
		background: transparent url("../images/flagsartboard%202-u1654-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1654:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px -41px;
		background: transparent url("../images/flagsartboard%202-u1654-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202-u1654-fr_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-u1654-r-fr_2x.png");
	}

	#u1691
	{
		z-index: 7;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: 15px;
		background: transparent url("../images/flagsartboard%203-u1691-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1691:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px 15px;
		background: transparent url("../images/flagsartboard%203-u1691-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203-u1691-fr_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-u1691-r-fr_2x.png");
	}

	#u1720
	{
		z-index: 8;
		width: 26px;
		height: 26px;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0.1s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: ease-in-out;
		position: fixed;
		top: 201px;
		left: 50%;
		margin-left: 71px;
		background: transparent url("../images/flagsartboard%204-u1720-fr.png") no-repeat left top;
		background-size: contain;
	}

	#u1720:hover
	{
		width: 26px;
		height: 26px;
		min-height: 0px;
		margin: 0px 0px 0px 71px;
		background: transparent url("../images/flagsartboard%204-u1720-r-fr.png") no-repeat left top;
		background-size: contain;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204-u1720-fr_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-u1720-r-fr_2x.png");
	}

	#u7708
	{
		z-index: 30;
		width: 120px;
		position: fixed;
		bottom: 61px;
		left: 50%;
		margin-left: -60px;
	}

	.Logo,.Bottiglia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u7706
	{
		z-index: 31;
		display: block;
	}

	#u1201
	{
		z-index: 12;
		width: 80px;
		position: fixed;
		top: 62px;
		left: 50%;
		margin-left: -40px;
	}

	#u1201.MuseLinkActive
	{
		background-color: transparent;
		width: 80px;
		min-height: 0px;
		margin: 0px 0px 0px -40px;
	}

	#u1202
	{
		z-index: 13;
		display: block;
	}

	#u11250
	{
		z-index: 10;
		width: 65px;
		position: fixed;
		top: 58px;
		left: 50%;
		margin-left: 87px;
	}

	#u11251
	{
		z-index: 11;
		margin-bottom: -1px;
	}

	.html
	{
		background: #FFFFFF url("../images/stelle_honoo-01.jpg") repeat center top scroll;
	}

	body
	{
		position: relative;
		min-width: 320px;
	}
}



