
@media (min-width: 1601px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (min-width: 1441px) and (max-width: 1600px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (min-width: 1201px) and (max-width: 1440px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (min-width: 993px) and (max-width: 1200px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (min-width: 769px) and (max-width: 992px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (min-width: 577px) and (max-width: 768px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (min-width: 481px) and (max-width: 576px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (max-width: 480px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}



@media (min-width: 1201px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

@media (max-width: 576px)
{
	#u5644
	{
		background-color: #5F5F5F;
	}

	#u5188
	{
		background-color: #A7A6A6;
	}

	.Footer1,.Footer2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u5178
	{
		background-color: #FFFFFF;
	}

	.Footer3
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #5F5F5F;
	}

}

