#u5644
{
	background-color: #5F5F5F;
}

#u5188
{
	background-color: #A7A6A6;
}

.Footer1,.Footer2
{
	background-color: transparent;
	border-color: #000000;
	border-width: 0px;
}

#u5178
{
	background-color: #FFFFFF;
}

.Footer3
{
	background-color: #5F5F5F;
	border-color: #000000;
	border-width: 0px;
}









