
@media (min-width: 1601px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 1441px) and (max-width: 1600px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 1201px) and (max-width: 1440px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 1025px) and (max-width: 1200px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 993px) and (max-width: 1024px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 769px) and (max-width: 992px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 577px) and (max-width: 768px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}

@media (min-width: 481px) and (max-width: 576px)
{
	#u11509
	{
		background-color: transparent;
	}

	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11510,#u10954
	{
		display: block;
	}
}

@media (max-width: 480px)
{
	.Freccia
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u11509
	{
		background-color: transparent;
	}

	#u10954,#u11510
	{
		display: block;
	}
}




