	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1600px;
		min-height: 892px;
	}

	#u18981
	{
		margin-top: 62px;
		left: -160px;
	}

	#pu16820
	{
		width: 0.01px;
		padding-bottom: 86px;
		margin-right: -10000px;
		margin-top: 806px;
		margin-left: -160px;
	}

	#u16820
	{
		height: 86px;
		bottom: 0px;
	}

	#u16799
	{
		height: 61px;
		bottom: 0px;
	}

	#u16822
	{
		margin-top: 62px;
		left: 283px;
	}

	#slideshowu17029
	{
		height: 608px;
		margin-right: -10000px;
		margin-top: 62px;
		left: 543px;
	}

	#u17046
	{
		width: 512px;
		height: 512px;
		left: 1px;
	}

	#u18558,#u18675,#u18200
	{
		width: 512px;
		height: 512px;
	}

	#u17030
	{
		width: 512px;
		top: 512px;
		left: 1px;
	}

	#u17043-3
	{
		width: 493px;
		min-height: 492px;
	}

	#u16796-4
	{
		bottom: 22px;
		margin-left: -37px;
	}

	#u16793
	{
		bottom: 12px;
		margin-left: -30px;
	}

	#u16793:hover
	{
		margin-left: -30px;
	}

	body
	{
		min-width: 1600px;
	}

