	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1600px;
		min-height: 598.95px;
		padding-bottom: 0px;
	}

	#page_position_content
	{
		padding-top: 62px;
		width: 0.01px;/* should not cover content below */
	}

	#pu13603
	{
		width: 0.01px;
		padding-bottom: 152px;
	}

	#u13603
	{
		width: 243px;
		padding-bottom: 35px;
		top: 62px;
		margin-left: -800px;
	}

	#u7211
	{
		width: 35px;
		height: 35px;
		background-image: url("../images/flagsartboard%201.png");
		top: 62px;
		margin-left: -800px;
	}

	.hidpi #u7211
	{
		background-image: url("../images/flagsartboard%201_2x.png");
	}

	#u1654
	{
		width: 35px;
		height: 35px;
		background-image: url("../images/flagsartboard%202.png");
		top: 62px;
		margin-left: -730px;
	}

	#u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng.png");
		margin-left: -730px;
		width: 35px;
		height: 35px;
	}

	.hidpi #u1654
	{
		background-image: url("../images/flagsartboard%202_2x.png");
	}

	.hidpi #u1654:hover
	{
		background-image: url("../images/flagsartboard%202-eng_2x.png");
	}

	#u1691
	{
		width: 35px;
		height: 35px;
		background-image: url("../images/flagsartboard%203.png");
		top: 62px;
		margin-left: -661px;
	}

	#u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202.png");
		margin-left: -661px;
		width: 35px;
		height: 35px;
	}

	.hidpi #u1691
	{
		background-image: url("../images/flagsartboard%203_2x.png");
	}

	.hidpi #u1691:hover
	{
		background-image: url("../images/flagsartboard%203-esp%20copy%202_2x.png");
	}

	#u1720
	{
		width: 35px;
		height: 35px;
		background-image: url("../images/flagsartboard%204.png");
		top: 62px;
		margin-left: -591px;
	}

	#u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202.png");
		margin-left: -591px;
		width: 35px;
		height: 35px;
	}

	.hidpi #u1720
	{
		background-image: url("../images/flagsartboard%204_2x.png");
	}

	.hidpi #u1720:hover
	{
		background-image: url("../images/flagsartboard%204-chi%20copy%202_2x.png");
	}

	#u1201
	{
		width: 100px;
		top: 62px;
		margin-left: -50px;
	}

	#u1201.MuseLinkActive
	{
		margin-left: -50px;
		width: 100px;
	}

	#u13545
	{
		width: 105px;
		top: 62px;
		margin-left: 664px;
	}

	#u13546
	{
		margin-bottom: -1px;
	}

	#u8876
	{
		top: -16px;
		margin-bottom: -16px;
	}

	#u1203-16
	{
		top: 298px;
		margin-left: -191px;
	}

	#u7708
	{
		width: 150px;
		bottom: 61px;
		margin-left: -75px;
	}

	#pu5644
	{
		width: 0.01px;
		margin-left: -160px;
		margin-top: 255px;
	}

	#u5644,#u5644-bw
	{
		height: 86px;
	}

	#u5188
	{
		height: 61px;
	}

	#u5188-bw
	{
		margin-top: 25px;
		height: 61px;
	}

	#u5178-bw
	{
		margin-top: 50px;
		height: 36px;
	}

	body
	{
		min-width: 1600px;
	}

