	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 599px;
	}

	#pu5644
	{
		padding-bottom: 541px;
		margin-left: -432px;
	}

	#u11250
	{
		width: 105px;
		margin-left: 146px;
	}


